<div class="tweets">
  <ul class="small-block-grid-2">
    <% @lost_pet_tweets.each do |tweet| %>
      <li><%= tweet.user.screen_name %></li>
      <li><%= tweet.text %></li>
      <li><%= tweet.url %></li>
    <% end %>
  </ul>
</div>
