<div class="tweets">
  <ul class="small-block-grid-1">
    <% @found_pet_tweets.each do |tweet| %>
      <li class="lost-tweet">
        Posted By @<%= tweet.screen_name %> on <%= tweet.posted_at %>

        <%= tweet.text %>
        <%= link_to "View on Twitter", tweet.url %>
      </li>
    <% end %>
  </ul>
</div>
