<div id="lostandfound">
  <div class="city-form">
    <div class="row">
      <div class="large-6 columns">
        <form id="search">
          <%= text_field_tag(:city, @city, placeholder: "Search by city of neighborhood and optional keywords") %>
        </form>
      </div>
    </div>
  </div>

<div id="notweets"></div>

  <div class="tweets">
    <ul class="small-block-grid-1" id="tweet-list">
    </ul>
  </div>
</div>

<div class="row hidden spinner" id="spinner"><%= image_tag "dog.GIF" %><br></div>

<%= javascript_tag do %>
  $(document).ready(function() {
    var city = '<%= @city %>'
    fetchLostPets(city)
    var state = { 'city': city }
    history.replaceState(state, '')

    $(window).bind('popstate', function(event) {
      var city = event.originalEvent.state.city
      fetchLostPets(city)
      $('#city').val(city)
    })

    $('#search').submit(function(event) {
      var city = $('#city').val()
      var state = { 'city': city }
      history.pushState(state, '', '/tweets/lost/' + city)
      fetchLostPets(city)
      event.preventDefault()
    })
  })
<% end %>
