---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=founddog%20nyc%20OR%20foundcat%20nyc%20OR%20foundpuppy%20nyc%20OR%20foundkitten%20nyc%20-RT&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="zs6iWskyHQyQ9u81dT03f2qIa", oauth_nonce="4cdd2a8ba99537377eb11997b6fd0526",
        oauth_signature="dpHn15PgAZeZOlcPAbHjl4PiRc8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1435006167", oauth_token="3067660248-Hicq4nPqo6Zo06IOATneoQWqF7aNe2KbMGVAokJ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 22 Jun 2015 20:49:27 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 08402d03f76b6545825d68d3272d7c55
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1435007067'
      X-Response-Time:
      - '27'
      X-Transaction:
      - a395ee2c390f336e
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.01,"max_id":613086314116849664,"max_id_str":"613086314116849664","query":"founddog+nyc+OR+foundcat+nyc+OR+foundpuppy+nyc+OR+foundkitten+nyc+-RT","refresh_url":"?since_id=613086314116849664&q=founddog%20nyc%20OR%20foundcat%20nyc%20OR%20foundpuppy%20nyc%20OR%20foundkitten%20nyc%20-RT&result_type=recent&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Mon, 22 Jun 2015 20:49:27 GMT
recorded_with: VCR 2.9.3
