---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=lostdog%20denver%20OR%20lostpuppy%20denver%20OR%20lostcat%20denver%20OR%20lostkitten%20denver%20OR%20missingdog%20denver%20OR%20missingcat%20denver%20OR%20missingpuppy%20denver%20OR%20missingkitten%20denver%20-RT&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="zs6iWskyHQyQ9u81dT03f2qIa", oauth_nonce="88760e2b9552882399e509949ffed28d",
        oauth_signature="ry1KZIiR%2BnxMgsOT7qe4zJPdEwM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1434658104", oauth_token="3067660248-Hicq4nPqo6Zo06IOATneoQWqF7aNe2KbMGVAokJ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 18 Jun 2015 20:08:24 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - e7c2eb95264ce5a2cf81d20a1cc4938d
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '173'
      X-Rate-Limit-Reset:
      - '1434658254'
      X-Response-Time:
      - '74'
      X-Transaction:
      - 876b923322ca995c
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"iso_language_code":"da","result_type":"recent"},"created_at":"Sun
        Jun 14 04:45:52 +0000 2015","id":609944821676023809,"id_str":"609944821676023809","text":"https:\/\/t.co\/tVsOluxM3y\n\n#foundjrt
        #foundjackrussellterrier # foudfog.  # lostdog http:\/\/t.co\/pzI94hP4ee","source":"\u003ca
        href=\"http:\/\/www.facebook.com\/twitter\" rel=\"nofollow\"\u003eFacebook\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2998884813,"id_str":"2998884813","name":"Lori
        McNabb ","screen_name":"CoLostDogs","location":"Colorado","description":"Helping
        owners locate their lost dogs in Colorado. Helping found dog reunite with
        their human families.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":48,"friends_count":153,"listed_count":1,"created_at":"Mon
        Jan 26 00:22:08 +0000 2015","favourites_count":4,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1787,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/581249857752444928\/nXBi1aZ6_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/581249857752444928\/nXBi1aZ6_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2998884813\/1426108193","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"foundjrt","indices":[25,34]},{"text":"foundjackrussellterrier","indices":[35,59]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/tVsOluxM3y","expanded_url":"https:\/\/denver.craigslist.org\/laf\/5071081739.html","display_url":"denver.craigslist.org\/laf\/5071081739\u2026","indices":[0,23]},{"url":"http:\/\/t.co\/pzI94hP4ee","expanded_url":"http:\/\/fb.me\/6EjNv44PL","display_url":"fb.me\/6EjNv44PL","indices":[82,104]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"da"},{"metadata":{"iso_language_code":"und","result_type":"recent"},"created_at":"Sun
        Jun 14 04:38:58 +0000 2015","id":609943084697264128,"id_str":"609943084697264128","text":"https:\/\/t.co\/OGy4rkCuLY\n\n#lostdog
        #lostblackwhitedog #lostsmalldog #founddog http:\/\/t.co\/nUc0EqKGWZ","source":"\u003ca
        href=\"http:\/\/www.facebook.com\/twitter\" rel=\"nofollow\"\u003eFacebook\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_i[...]
