---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=founddog%20OR%20foundcat%20OR%20foundpuppy%20OR%20foundkitten%20OR%20found%20dog%20OR%20found%20cat%20OR%20found%20puppy%20OR%20found%20kitten&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="zs6iWskyHQyQ9u81dT03f2qIa", oauth_nonce="9c6bdcd0673ebe6d976598339899c3ce",
        oauth_signature="3bphqTaqVyfKVEvLFbfNhAqTZig%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1434489917", oauth_token="3067660248-Hicq4nPqo6Zo06IOATneoQWqF7aNe2KbMGVAokJ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 16 Jun 2015 21:25:18 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 9482dacbfa986b4906c5dd78705648ab
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '173'
      X-Rate-Limit-Reset:
      - '1434490105'
      X-Response-Time:
      - '268'
      X-Transaction:
      - 81982828747f75b3
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Tue
        Jun 16 21:15:01 +0000 2015","id":610918523720871936,"id_str":"610918523720871936","text":"@cher
        Is this the kitten that was found at The Pontiac Silverdome ? I was ther  and
        was hopping you would keep him","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":610589523467223041,"in_reply_to_status_id_str":"610589523467223041","in_reply_to_user_id":124003770,"in_reply_to_user_id_str":"124003770","in_reply_to_screen_name":"cher","user":{"id":94351825,"id_str":"94351825","name":"Dawn
        Allen","screen_name":"huckubus","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":5,"listed_count":0,"created_at":"Thu
        Dec 03 15:34:39 +0000 2009","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":4,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"cher","name":"Cher  ","id":124003770,"id_str":"124003770","indices":[0,5]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Tue
        Jun 16 21:13:42 +0000 2015","id":610918194140700672,"id_str":"610918194140700672","text":"My
        new kitten has found a fun place to sleep:    submitted by  SousEtoiles  [link]
        [14 comments] view this ima... http:\/\/t.co\/et2Z7oOQXg","source":"\u003ca
        href=\"http:\/\/twitterfeed.com\" rel=\"nofollow\"\u003etwitterfeed\u003c\/a\u003e","truncated":false,"in_reply_to_statu[...]
