---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=lostdog%20nyc%20OR%20lostpuppy%20nyc%20OR%20lostcat%20nyc%20OR%20lostkitten%20nyc%20OR%20missingdog%20nyc%20OR%20missingcat%20nyc%20OR%20missingpuppy%20nyc%20OR%20missingkitten%20nyc%20-RT&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="zs6iWskyHQyQ9u81dT03f2qIa", oauth_nonce="0cf1ad87136cd4f8d321016955f2517b",
        oauth_signature="oGj6MFg9cLBSOPUM3d8%2BcyTb92Q%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1435004874", oauth_token="3067660248-Hicq4nPqo6Zo06IOATneoQWqF7aNe2KbMGVAokJ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 22 Jun 2015 20:27:55 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 968d28e242d194b9286bba74d6ceec59
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '173'
      X-Rate-Limit-Reset:
      - '1435005060'
      X-Response-Time:
      - '89'
      X-Transaction:
      - 0327e36719a18fad
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Mon
        Jun 22 15:30:00 +0000 2015","id":613006026816757760,"id_str":"613006026816757760","text":"#dogs
        #lostdog\n119 Days Ago Sugar Disappeared In #NYC\nShe''s Not Been Seen Since\n#FindSugarNYC\n$10k
        Rwrd For Safe Ret http:\/\/t.co\/qzdKcdWnUh","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":18176779,"id_str":"18176779","name":"MIPooh","screen_name":"MIPooh","location":"","description":"Every1
        Has A Story 2 Tell, #Pets Included.\nThe Effort Here Is To Help Spare The
        Lives of Countless Shelter Animals Who Might Otherwise Be Destroyed\n#cats
        #dogs","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1616,"friends_count":1425,"listed_count":59,"created_at":"Tue
        Dec 16 23:53:37 +0000 2008","favourites_count":389,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":30651,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"24249F","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/530754766071013379\/TTipYlBx.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/530754766071013379\/TTipYlBx.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/509899454770462720\/fat9fIyv_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/509899454770462720\/fat9fIyv_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/18176779\/1415803408","profile_link_color":"002DB3","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":3,"favorite_count":0,"entities":{"hashtags":[{"text":"dogs","indices":[0,5]},{"text":"lostdog","indices":[6,14]},{"text":"NYC","indices":[49,53]},{"text":"FindSugarNYC","indices":[80,93]}],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":613006023662526464,"id_str":"613006023662526464","indices":[117,139],"media_url":"http:\/\/pbs.twimg.com\/media\/CIHVuw2UYAAJ1wZ.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CIHVuw2UYAAJ1wZ.jpg","url":"http:\/\/t.co\/qzdKcdWnUh","display_url":"pic.twitter.com\/qzdKcdWnUh","expanded_url":"http:\/\/twitter.com\/MIPooh\/status\/613006026816757760\/photo\/1","type":"photo","sizes":{"medium":{"w":340,"h":343,"resize":"fit"},"large":{"w":340,"h":343,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":343,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Mon
        Jun 22 15:25:09 +0000 2015","id":613004804005064704,"id_str":"613004804005064704","text":"#NYC
        #LOSTDOG \n@seespotrescued''s photo https:\/\/t.co\/aIxFPzknbg","source":"\u003ca
        href=\"http:\/\/www.apple.com\" rel=\"nofollow\"\u003eiOS\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_i[...]
