---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=lostdog%20OR%20lostpuppy%20OR%20lostcat%20OR%20lostkitten%20OR%20lost%20dog%20OR%20lost%20cat%20OR%20lost%20puppy%20OR%20lost%20kitten%20OR%20missing%20dog%20OR%20missing%20cat%20OR%20missing%20puppy%20OR%20missing%20kitten&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="zs6iWskyHQyQ9u81dT03f2qIa", oauth_nonce="b05d76de97c9777a720fe0b08ac98e6f",
        oauth_signature="DYfbsUqajJ%2ByQ9JipBl%2Fh%2BWYMzU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1434489917", oauth_token="3067660248-Hicq4nPqo6Zo06IOATneoQWqF7aNe2KbMGVAokJ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 16 Jun 2015 21:25:17 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 474962aad0d896ef6cd40cc940c1aeb7
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '174'
      X-Rate-Limit-Reset:
      - '1434490105'
      X-Response-Time:
      - '243'
      X-Transaction:
      - 94a5693cd85d2264
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Tue
        Jun 16 20:59:04 +0000 2015","id":610914510782607360,"id_str":"610914510782607360","text":"RT
        @LostboxUK: LOST - Gandalf, a 7 month old kitten has been missing since 14\/06\/15,
        #Acklam area, #Middlesbrough. \nPlease retweet! http:\/\/\u2026","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":21285617,"id_str":"21285617","name":"Anne
        Clarke","screen_name":"flossieknickers","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":268,"friends_count":227,"listed_count":25,"created_at":"Thu
        Feb 19 09:23:24 +0000 2009","favourites_count":2074,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":20859,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/298033992\/anne_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/298033992\/anne_normal.jpg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Tue
        Jun 16 14:08:30 +0000 2015","id":610811188902019073,"id_str":"610811188902019073","text":"LOST
        - Gandalf, a 7 month old kitten has been missing since 14\/06\/15, #Acklam
        area, #Middlesbrough. \nPlease retweet! http:\/\/t.co\/Vac8zZh2rm","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":602039655,"id_str":"602039655","name":"Lostbox-Lost
        & Found","screen_name":"LostboxUK","location":"UK","description":"A twist
        on EVERYTHING #lost & #found across the UK! https:\/\/t.co\/END89nVk47\n@Jacqueline_Gold
        #WOW business of 2013 @TheoPaphitis #SBS Winner 2015","url":"http:\/\/t.co\/G9yCOtpzJk","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/G9yCOtpzJk","expanded_url":"http:\/\/lostbox.co.uk","display_url":"lostbox.co.uk","indices":[0,22]}]},"description":{"urls":[{"url":"https:\/\/t.co\/END89nVk47","expanded_url":"https:\/\/www.facebook.com\/LostBox","display_url":"facebook.com\/LostBox","indices":[52,75]}]}},"protected":false,"followers_count":39196,"friends_count":35251,"listed_count":190,"created_at":"Thu
        Jun 07 15:23:30 +0000 2012","favourites_count":15765,"utc_offset":3600,"time_zone":"London","geo_enabled":false,"verified":false,"statuses_count":13694,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/378800000094573658\/3f54d11cd00810a3d34d8c05fb52a12c.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/378800000094573658\/3f54d11cd00810a3d34d8c05fb52a12c.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2603431982\/qkdezzan9kqnuzo5vds5_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2603431982\/qkdezzan9kqnuzo5vds5_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/602039655\/1398196640","profile_link_color":"0084B4","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":90,"favorite_count":13,"entities":{"hashtags":[{"text":"Acklam","indices":[70,77]},{"text":"Middlesbrough","indices":[84,98]}],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":610811187794706432,"id_str":"610811187794706432","indices":[117,139],"media_url":"http:\/\/pbs.twimg.com\/media\/CHoJigFWgAAtGnO.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CHoJigFWgAAtGnO.jpg","url":"http:\/\/t.co\/Vac8zZh2rm","display_url":"pic.twitter.com\/Vac8zZh2rm","expanded_url":"http:\/\/twitter.com\/LostboxUK\/status\/610811188902019073\/photo\/1","type":"photo","sizes":{"large":{"w":960,"h":539,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":190,"resize":"fit"},"medium":{"w":600,"h":336,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"is_quote_status":false,"retweet_count":90,"favorite_count":0,"entities":{"hashtags":[{"text":"Acklam","indices":[85,92]},{"text":"Middlesbrough","indices":[99,113]}],"symbols":[],"user_mentions":[{"screen_name":"LostboxUK","name":"Lostbox-Lost
        & Found","id":602039655,"id_str":"602039655","indices":[3,13]}],"urls":[],"media":[{"id":610811187794706432,"id_str":"610811187794706432","indices":[139,140],"media_url":"http:\/\/pbs.twimg.com\/media\/CHoJigFWgAAtGnO.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CHoJigFWgAAtGnO.jpg","url":"http:\/\/t.co\/Vac8zZh2rm","display_url":"pic.twitter.com\/Vac8zZh2rm","expanded_url":"http:\/\/twitter.com\/LostboxUK\/status\/610811188902019073\/photo\/1","type":"photo","sizes":{"large":{"w":960,"h":539,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":190,"resize":"fit"},"medium":{"w":600,"h":336,"resize":"fit"}},"source_status_id":610811188902019073,"source_status_id_str":"610811188902019073","source_user_id":602039655,"source_user_id_str":"602039655"}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Tue
        Jun 16 19:21:10 +0000 2015","id":610889873247965184,"id_str":"610889873247965184","text":"Have
        a missing or found pet? Post it on http:\/\/t.co\/8dhn4LXiXL #dogs #cats #kitten
        #lost","source":"\u003ca href=\"http:\/\/www.karmamissingpetnetwork.com\"
        rel=\"nofollow\"\u003eKarma Missing Pet Interac[...]
