---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23lostdog&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="zs6iWskyHQyQ9u81dT03f2qIa", oauth_nonce="f6daeadc7e9a357a7179fe93ec1b4df6",
        oauth_signature="J9zCQXXp13yEnD%2B8qWGm8fSRdPA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1434488830", oauth_token="3067660248-Hicq4nPqo6Zo06IOATneoQWqF7aNe2KbMGVAokJ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 16 Jun 2015 21:07:11 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 0b4656c6a827a19b24c3295d0feb0269
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1434488841'
      X-Response-Time:
      - '295'
      X-Transaction:
      - 1f01b6b5485986b5
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Tue
        Jun 16 21:05:19 +0000 2015","id":610916083609042945,"id_str":"610916083609042945","text":"RT
        @Leafer1: Posting for a friend. Pls share\/RT @TEAMDogResQ @PetfindToronto
        @loyalrescueinc #LostDog #Erin #Caledon #Belfountain http:\/\/t.\u2026","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":55475775,"id_str":"55475775","name":"Junosoldier","screen_name":"raptormurph","location":"Toronto","description":"Passionate
        on the future of this great city. All tweets are my own views. #ward17 shared
        account","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":119,"friends_count":287,"listed_count":5,"created_at":"Fri
        Jul 10 05:00:01 +0000 2009","favourites_count":77,"utc_offset":-18000,"time_zone":"Quito","geo_enabled":false,"verified":false,"statuses_count":6725,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/378800000076585243\/1b570d5f475bb675ab1fc8b7453cfc6a.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/378800000076585243\/1b570d5f475bb675ab1fc8b7453cfc6a.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/592877961088528384\/xTw8Mrbr_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/592877961088528384\/xTw8Mrbr_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/55475775\/1383915886","profile_link_color":"0084B4","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Tue
        Jun 16 20:06:45 +0000 2015","id":610901346816909312,"id_str":"610901346816909312","text":"Posting
        for a friend. Pls share\/RT @TEAMDogResQ @PetfindToronto @loyalrescueinc #LostDog
        #Erin #Caledon #Belfountain http:\/\/t.co\/bzKwkG98xm","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"[...]
