---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=founddog%20denver%20OR%20foundcat%20denver%20OR%20foundpuppy%20denver%20OR%20foundkitten%20denver%20-RT&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="zs6iWskyHQyQ9u81dT03f2qIa", oauth_nonce="a6fdc0389f465424a0d6ea16dd0ae234",
        oauth_signature="YGASvhUlB8nQxZKb8gMsKzYnwsY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1434658104", oauth_token="3067660248-Hicq4nPqo6Zo06IOATneoQWqF7aNe2KbMGVAokJ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 18 Jun 2015 20:08:26 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - dbe41ddd1d61c7aabc1c64a162b261e7
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '172'
      X-Rate-Limit-Reset:
      - '1434658254'
      X-Response-Time:
      - '62'
      X-Transaction:
      - ddf8fdb8c9fb233b
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"iso_language_code":"und","result_type":"recent"},"created_at":"Sun
        Jun 14 04:38:58 +0000 2015","id":609943084697264128,"id_str":"609943084697264128","text":"https:\/\/t.co\/OGy4rkCuLY\n\n#lostdog
        #lostblackwhitedog #lostsmalldog #founddog http:\/\/t.co\/nUc0EqKGWZ","source":"\u003ca
        href=\"http:\/\/www.facebook.com\/twitter\" rel=\"nofollow\"\u003eFacebook\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2998884813,"id_str":"2998884813","name":"Lori
        McNabb ","screen_name":"CoLostDogs","location":"Colorado","description":"Helping
        owners locate their lost dogs in Colorado. Helping found dog reunite with
        their human families.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":48,"friends_count":153,"listed_count":1,"created_at":"Mon
        Jan 26 00:22:08 +0000 2015","favourites_count":4,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1787,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/581249857752444928\/nXBi1aZ6_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/581249857752444928\/nXBi1aZ6_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2998884813\/1426108193","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"lostdog","indices":[25,33]},{"text":"lostblackwhitedog","indices":[34,52]},{"text":"lostsmalldog","indices":[53,66]},{"text":"founddog","indices":[67,76]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/OGy4rkCuLY","expanded_url":"https:\/\/denver.craigslist.org\/laf\/5072064452.html","display_url":"denver.craigslist.org\/laf\/5072064452\u2026","indices":[0,23]},{"url":"http:\/\/t.co\/nUc0EqKGWZ","expanded_url":"http:\/\/fb.me\/7o4UDm5Ah","display_url":"fb.me\/7o4UDm5Ah","indices":[77,99]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"und"},{"metadata":{"iso_language_code":"und","result_type":"recent"},"created_at":"Sun
        Jun 14 04:33:05 +0000 2015","id":609941606968524800,"id_str":"609941606968524800","text":"https:\/\/t.co\/WIXiVBasTG\n\n#lostdog
        #founddog http:\/\/t.co\/1OQ32jNgSE","source":"\u003ca href=\"http:\/\/www.facebook.com\/twitter\"
        rel=\"nofollow\"\u003eFacebook\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id[...]
