<div id="aboutModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">How to use the Home Again site:</h2>
  <h4>Lost a pet?</h4>
  <p>Visit our "Found" pets link to view pets in your area that have been found recently and posted about on Twitter.
  If you see a tweet that looks like it may be about your lost pet you can click on it to be directed to Twitter
  in order to reach the original user who posted it.</p>
  <h4>Found a pet?</h4>
  <p>Visit our "Lost" pets link to view pets in your area whose owners are looking for them. If you see a tweet
  that looks like it may match the pet you have found you can click on it to be directed to Twitter in order to
  contact the original user who posted it.</p><br>
  <p>To add a lost or found pet to the site you can tweet a picture or any information you have with the hashtag #lostdog, #lostcat, #founddog or #foundcat and it will show up in our listings.</p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
