<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
        <h1><a href="/">Home Again</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li><a href="#" data-reveal-id="aboutModal">About</a></li>
      <li><a href="#" data-reveal-id="logInModal">Log In</a></li>
      <li><a href="#" data-reveal-id="signUpModal">Sign Up</a></li>
    </ul>
  </section>
</nav>


<div id="aboutModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">About Home Again</h2>
  <p>Reuniting lost dogs with their owners by providing a centralized site to keep track of social media posts about lost and found pets. At Home Again we aim to provide the fastest possible way of getting your pet back to you. Plus some more random info about how to use this site...</p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>


<div id="logInModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Please Log In</h2>
  <p>Log In form here <br> or <br> <%= link_to image_tag("login_twitter.png"), '#' %></p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="signUpModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Please Log In</h2>
  <p>Form to signup</p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
