<h2 class="petListHead">A collection of social media postings about lost and found pets:</h2>

<div class="petsList">
  <%= image_tag("example_dog.jpg", class: "pet image") %>
  <h3>Spot</h3>
  <h5>Spot was lost on 6/12 in the City Park neighborhood. He is friendly and responds to his name. Spot is about 50lbs, white and has a black spot over one eye. Please contact Bill at 123-456-7890 with any info.</h5>
</div>
