<div class="mainshow">
  <div class="lostorfound">
    <div class="lostfoundbuttons">
      <a href="/pets/found" class="button radius">I found a pet</a>
      <a href="/pets/lost" class="button radius">I lost a pet</a>
    </div>
  </div>
</div>
