<div class='landing'>

  <div class="welcome">
  <div class="row">
  <div class="small-2 large-4 columns">
  <!-- <div class="large-3 columns"> -->
    <h4 color="color: white" style="color: white";>Reuniting lost dogs with their owners by providing a centralized site to keep track of social media posts about lost and found pets. At Home Again we aim to provide the fastest possible way of getting your pet back to you.</h4>
  </div>
  </div>

</div>
