<div class='landing'>

  <div class="welcome">
  <div class="row">
  <div class="small-2 large-4 columns">
    <h1 color="color: white" style="color: white";>Home Again</h1><br>
    <h5 color="color: white" style="color: white";>Reuniting lost dogs with their owners by providing a centralized site to keep track of social media posts about lost and found pets. At Home Again we aim to provide the fastest possible way of getting your pet back to you.</h5><br>
    <a href="#" class="button info radius" data-reveal-id="aboutModal">Get Started</a>
  </div>
  </div>

</div>

<%= render :partial => 'partials/about_modal' %>
