.landing {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: image-url('boy_with_dog.jpg') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  font-family: Roboto, sans-serif;
}

.welcome {
  margin-top: 100px;
}

.petsList {
  margin-top: 50px;
}

.reveal-modal {
  text-align: center;
}

.tweets {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}
