.landing {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: image-url('boy_with_dog.jpg') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  font-family: Roboto, sans-serif;
}

.welcome {
  margin-top: 100px;
}

.petsList {
  margin-top: 50px;
}

.reveal-modal {
  text-align: center;
}

.tweets {
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 50px;
}

.lost-tweet {
}

.pet-pic {
  margin-left: auto;
  margin-right: auto;
  height: 75px;
  width: 100px;
}

.city-form {
  margin-left: 450px;
  margin-top: 20px;
}
.clear {
  clear: both;
}
.tweet {
  padding: 10px;
  background: #D2EDEF;
  border-radius: 5px;
  /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);*/
}
.tweet-image {
  background: #000;
  float: left;
  margin-right: 10px;
  max-width: 100px;
  max-height: 100px;
  display: inline-block;
  height: 100px !important;
  width: 100px !important;
}
.tweet-text {
  display: block;
}
.tweet-byline {
  color: #555;
  font-size: 0.8em;
  display: block;
}
.tweet-container {
}
